.py-4 {
    padding-top: 1.5rem !important; 
    padding-bottom: 1.5rem !important; }

.px-4 {
    padding-right: 1.5rem !important; 
    padding-left: 1.5rem !important; }

.course-inner-text {
    position: relative;
    padding-top: 35px !important; }
         
.course-price {
    position: absolute;
    padding: 10px 15px;
    background: #7971ea;
    color: #fff;
    top: -20px;
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }

.is-sticky .cta a span {
    color: #fff; }
    
a:hover span {
    background: #4f45e3;
    color: #fff; }

span:hover {
    color: #25262a; }

a span {
    border-color: #7971ea;
    padding: 14px 20px;
    color: #fff;
    background: #7971ea;
    border-radius: 30px;
    font-size: .7rem;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
          
                       
                                   
                                       